* {
list-style:none;
margin:3px;
padding:0;
}

body {
font-size:13px;
font-family:微软雅黑;
margin:0;
padding:0;
}

#tan {
background-color:silver;
}

#kefu {
background-color:#FFF;
}

a {
color:#333;
text-decoration:none;
}

a:hover {
color:#cf2020;
text-decoration:underline;
}

img {
border:0;
}

em {
font-style:normal;
font-size: xx-small;
}

.show {
display:block;
}

.ipt {
border:1px solid #999;
height:22px;
width:100px;
padding-left:5px;
font-size:12px;
font-family:微软雅黑;
color:#454545;
}

#voice {
display:block;
width:27px;
height:26px;
float:right;
cursor:pointer;
margin-right:2px;
margin-top:-2px;
}

.voice-on {
background:url(/skin/images/labak.jpg) no-repeat;
}

.voice-off {
background:url(/skin/images/labag.jpg) no-repeat;
}

.bank {
height:1px;
}

input.beishu {
height:20px;
width:35px;
text-align:center;
border:1px solid #CCC;
font-size:13px;
}

.head {
width:1000px;
margin:0 auto;
}

.head .notice {
float:left;
display:inline;
width:650px;
height:30px;
line-height:30px;
color:red;
font-size:14px;
padding:0 10px;
}

.head .pifu {
width:210px;
text-align:left;
float:right;
display:inline;
color:#fff;
padding:3px 5px 0 0;
}

.head .pifu span {
vertical-align:middle;
}

.head .pifu a img {
vertical-align:middle;
padding-left:8px;
}

.head .xiazai {
float:right;
display:inline;
padding-top:13px;
}

.top {
width:100%;
height:83px;
overflow:hidden;
margin:0 auto;
}

.logo {
width:289px;
height:83px;
float:left;
margin-top:-5px;
}

.denglu {
width:578px;
height:83px;
float:left;
display:inline;
margin-top:3px;
vertical-align:middle;
font-size:14px;
background:url(/skin/images/denglubg.png) no-repeat top center;
}

.denglu p {
padding-left:30px;
padding-top:28px;
}

.denglu a img {
vertical-align:middle;
padding:0 3px;
}

.denglu span {
color:red;
padding-right:10px;
}

.kefu {
width:126px;
height:83px;
float:right;
padding-top:18px;
text-align:right;
margin-right:5px;
}

.kefu a img {
padding:0 3px;
}

.kefu .kefu1 {
background:url(/skin/images/kefu.png) no-repeat top center;
line-height:53px;
padding:18px 19px;
}

.kefu .kefu1:hover {
background:url(/skin/images/kefu1.png) no-repeat top center;
line-height:53px;
text-decoration:none;
padding:18px 19px;
}

.navbg {
width:1000px;
height:58px;
background:url(/skin/images/navbg.png) no-repeat center top;
margin:0 auto;
}

.inav {
padding:0 23px;
}

.nav {
width:1000px;
height:58px;
line-height:56px;
text-align:center;
z-index:1;
margin:0;
}

.nav .nLi {
float:left;
width:136px;
position:relative;
display:inline;
}

.nav .nLi a {
display:block;
font-size:17px;
}

.nav .sub {
display:none;
width:272px;
left:0;
top:50px;
position:absolute;
line-height:28px;
border:1px solid #ccc;
border-top:0;
border-bottom:0;
z-index:999;
overflow:hidden;
}

.nav .sub.reset {
width:408px;
}

.nav .sub li {
zoom:1;
float:left;
display:inline;
width:131px;
height:34px;
line-height:34px;
background:url(/skin/images/subbg.jpg) repeat-x left top;
color:#333;
border-bottom:1px solid #ccc;
padding-left:5px;
vertical-align:middle;
}

.nav .sub li img {
vertical-align:middle;
padding:0 5px;
}

.nav .sub li:hover {
background:url(/skin/images/subbgh.jpg) repeat-x left top;
}

.nav .sub a {
display:block;
text-align:left;
font-weight:400;
font-size:14px;
color:#333;
}

.content {
width:1000px;
overflow:hidden;
margin:0 auto;
}

.content01 {
width:262px;
height:151px;
float:left;
background:url(/skin/images/kaijiang.png) no-repeat top center;
}

.content01 .qi {
font-size:14px;
color:#fff;
text-align:center;
padding:12px 0 8px;
}

.content01 .jie {
font-size:14px;
text-align:center;
padding:6px 0;
}

.content01 .shi {
cursor:pointer;
padding:14px 0 0 74px;
}

.content01 .shi b img {
width:20px;
height:32px;
border:0;
padding:0 1px;
}

.content01 .shi span img {
width:15px;
height:24px;
border:0;
padding:0 1px;
}

.content02 p {
font-size:14px;
color:#fff;
text-align:center;
padding:12px 0 6px;
}

.content02 p b {
float:right;
padding-right:12px;
}

.kjing img {
text-align:center;
margin-top:-4px;
padding:0 13px 0 12px;
}

.content03 .hao span {
float:left;
padding-left:30px;
}

.content03 ul li span b {
height:20px;
color:#333;
background:url(/skin/images/qihao1.png) no-repeat center;
padding:1px 8px;
}

.content04 ul {
float:left;
padding:8px 21px;
}

.content05 ul {
float:left;
padding:8px 95px;
}

.content06 ul {
float:left;
padding:22px 18px;
}

.content06 ul li {
float:left;
padding:5px 2px;
}

.kj-hao .ball {
width:71px;
height:70px;
line-height:70px;
font-size:50px;
font-family:Arial, Helvetica, sans-serif;
font-weight:700;
color:#FFF;
text-align:center;
}

.kj-hao .ball2 {
width:35px;
height:35px;
line-height:35px;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
font-weight:700;
color:#FFF;
text-align:center;
}

.kj-hao .ball_0 {
background:url(/skin/images/ball/1.png) no-repeat center center;
}

.kj-hao .ball_1 {
background:url(/skin/images/ball/2.png) no-repeat center center;
}

.kj-hao .ball_2 {
background:url(/skin/images/ball/3.png) no-repeat center center;
}

.kj-hao .ball_3 {
background:url(/skin/images/ball/4.png) no-repeat center center;
}

.kj-hao .ball_4 {
background:url(/skin/images/ball/5.png) no-repeat center center;
}

.kj-hao .ball_01 {
background:url(/skin/images/ball/01.png) no-repeat center center;
}

.kj-hao .ball_02 {
background:url(/skin/images/ball/02.png) no-repeat center center;
}

.kj-hao .ball_03 {
background:url(/skin/images/ball/03.png) no-repeat center center;
}

.kj-hao .ball_04 {
background:url(/skin/images/ball/05.png) no-repeat center center;
}

.content1 .mainHeader {
width:1000px;
height:56px;
background:url(/skin/images/gameheader.png) no-repeat bottom center;
overflow:hidden;
margin:0 auto;
}

.content1 .mainBody {
width:1000px;
position:relative;
background:url(/skin/images/gamemain.png) repeat-y;
margin:0 auto;
}

.content1 .mainFooter {
width:1000px;
height:20px;
background:url(/skin/images/gamefooter.png) no-repeat top center;
margin:0 auto;
}

.content1 .title {
font-weight:700;
color:#333;
overflow:hidden;
}

.content1 .title ul {
float:left;
padding:0 15px;
}

.content1 .title ul li {
float:left;
font-size:15px;
width:95px;
text-align:center;
line-height:58px;
}

.content1 .title ul .on {
color:#fff;
height:59px;
background:url(/skin/images/lishibg.jpg) no-repeat center center;
}

.content1 .title ul li:hover {
height:59px;
background:url(/skin/images/lishibg.jpg) no-repeat center center;
}

.content1 .title ul li:hover a {
color:#fff;
text-decoration:none;
}

.content1 .fushi {
color:#333;
overflow:hidden;
}

.content1 .fushi ul {
width:960px;
height:27px;
text-align:left;
border-bottom:1px dashed #333;
margin:0 20px;
padding:5px 0 10px;
}

.content1 .fushi ul li {
text-align:center;
float:left;
font-size:13px;
font-family:宋体;
width:77px;
height:27px;
line-height:27px;
background:url(/skin/images/fushi1.jpg) no-repeat center center;
overflow:hidden;
padding:0 3px;
}

.content1 .fushi ul .on {
color:#fff;
height:27px;
width:77px;
background:url(/skin/images/fushi2.jpg) no-repeat center center;
}

.content1 .fushi ul li:hover {
color:#fff;
background:url(/skin/images/fushi2.jpg) no-repeat center center;
}

.content1 .fanli {
color:#333;
overflow:hidden;
margin:0 30px;
}

.content1 .fanli p {
width:940px;
display:inline;
height:35px;
line-height:35px;
text-align:left;
}

.content1 .fanli p .help1 {
display:inline-block;
color:#fff;
background:url(/skin/images/fanli.jpg) no-repeat center center;
cursor:pointer;
padding:5px 15px;
}

.content1 .fanli p .help2 {
display:inline-block;
width:30px;
height:33px;
background:url(/skin/images/tan.jpg) no-repeat center bottom;
cursor:pointer;
text-indent:-9999px;
}

.content1 .fanli #lt_example {
position:absolute;
width:235px;
height:71px;
line-height:20px;
font-size:12px;
display:none;
background:url(/skin/images/tan.png) no-repeat top center;
overflow:hidden;
padding:10px 15px 10px 25px;
}

.content1 .fanli #lt_help {
position:absolute;
margin-top:-5px;
margin-left:-10px;
width:235px;
height:71px;
line-height:20px;
font-size:12px;
display:none;
background:url(/skin/images/tan.png) no-repeat top center;
overflow:hidden;
padding:10px 15px 10px 25px;
}

.content1 .fanli #box {
position:absolute;
margin-left:235px;
width:250px;
height:66px;
line-height:20px;
font-size:12px;
display:none;
background:url(/skin/images/tan.png) no-repeat top center;
padding:15px 0 10px 25px;
}

.content1 .fanli #box1 {
position:absolute;
margin-left:280px;
width:250px;
height:66px;
line-height:20px;
font-size:12px;
display:none;
background:url(/skin/images/tan.png) no-repeat top center;
padding:15px 0 10px 25px;
}

.content1 .fanli #box3 {
position:absolute;
margin-left:240px;
width:250px;
height:66px;
line-height:28px;
font-size:12px;
display:none;
background:url(/skin/images/tan.png) no-repeat top center;
padding:15px 0 10px 25px;
}

.content1 .wei {
color:#333;
overflow:hidden;
width:960px;
margin:0 20px;
}

.content1 .fanli #box4 {
position:absolute;
margin-left:150px;
width:250px;
height:66px;
line-height:28px;
font-size:12px;
display:none;
background:url(/skin/images/tan.png) no-repeat top center;
padding:15px 0 10px 25px;
}

.content1 .num-table .pp {
float:left;
display:inline;
color:#333;
overflow:hidden;
width:960px;
margin:2px 20px;
}

.content1 .num-table .pp .title {
float:left;
display:inline;
width:48px;
height:40px;
line-height:40px;
background:url(/skin/images/wei0.jpg) no-repeat center center;
font-weight:400;
font-size:13px;
text-align:right;
padding-right:32px;
}

.content1 .num-table .pp .code {
float:left;
display:inline;
margin-left:5px;
width:40px;
height:40px;
line-height:40px;
font-size:18px;
font-weight:700;
background:url(/skin/images/wei1.jpg) no-repeat center center;
text-align:center;
cursor:pointer;
border:none medium;
}

.content1 .num-table .pp .code:hover,.content1 .num-table .pp .code.checked {
color:#fff;
background:url(/skin/images/wei2.jpg) no-repeat center center;
}

.content1 .num-table .pp .code.reset {
width:72px;
background:url(/skin/images/wei12.jpg) no-repeat center center;
}

.content1 .num-table .pp .code.reset:hover,.content1 .num-table .pp .code.reset.checked {
background:url(/skin/images/wei22.jpg) no-repeat center center;
}

.content1 .num-table .pp .action {
float:right;
display:inline;
margin-right:2px;
width:40px;
height:40px;
line-height:40px;
text-align:center;
font-size:14px;
background:url(/skin/images/wei3.jpg) no-repeat center center;
cursor:pointer;
border:none medium;
}

.content1 .num-table .pp .action:hover,.content1 .num-table .pp .action.on {
background:url(/skin/images/wei4.jpg) no-repeat center center;
}

.content1 .num-table .pp #textarea-code {
width:950px;
height:98px;
background-color:#fff;
border:none medium;
margin:0 5px;
}

.content1 .num-table .pp #wei-shu input {
margin-right:2px;
}

.content1 .num-table .dantuo {
width:950px;
margin:0 auto 10px;
}

.content1 .jiangjin {
color:#333;
width:960px;
height:40px;
line-height:40px;
position:relative;
margin:10px 15px 10px 25px;
}

.content1 .jiangjin .fl {
float:left;
display:inline;
}

.content1 .jiangjin .fr {
float:right;
display:inline;
}

.content1 .jiangjin .ui-slider-handle {
height:15px;
width:20px;
border:0;
margin-top:11px;
vertical-align:middle;
background:url(/skin/images/hua.jpg) left center no-repeat;
}

.content1 .jiangjin .tiao {
display:inline;
background:url(/skin/images/tiao1.jpg) no-repeat center center;
border:0;
margin:0 5px;
padding:5px 94px;
}

.content1 .jiangjin .fdmoney {
color:red;
margin-left:10px;
display:inline-block;
width:110px;
}

.content1 .jiangjin a img {
vertical-align:middle;
margin-top:-3px;
}

.content1 .jiangjin .mo {
padding-left:15px;
}

.content1 .jiangjin b {
font-weight:400;
background:url(/skin/images/mo1.jpg) no-repeat center center;
cursor:pointer;
padding:8px 8px 8px 9px;
}

.content1 .jiangjin b:hover,.content1 .jiangjin b.dwon {
color:#fff;
background:url(/skin/images/mo2.jpg) no-repeat center center;
}

.content1 .jiangjin .bei {
padding-left:15px;
margin-left:10px;
}

.content1 .jiangjin .surbeishu,.content1 .jiangjin .addbeishu {
cursor:pointer;
vertical-align:middle;
margin-top:-3px;
}

.content1 .jiangjin .jian {
width:20px;
height:40px;
border:0;
background:url(/skin/images/jian.jpg) no-repeat 0 7px;
cursor:pointer;
vertical-align:middle;
}

.content1 .jiangjin .bei1 {
width:40px;
height:22px;
line-height:22px;
border:0;
text-align:center;
color:#fff;
background:gray;
vertical-align:middle;
margin:0 3px;
}

.content1 .jiangjin .jia {
width:20px;
height:40px;
border:0;
background:url(/skin/images/jia.jpg) no-repeat 0 7px;
cursor:pointer;
vertical-align:middle;
}

.content1 .jiangjin .ge {
padding-left:2px;
}

.content1 .jiangjin .tian {
display:inline-block;
width:110px;
height:40px;
background:url(/skin/images/tian.png) no-repeat top center;
cursor:pointer;
}

.content1 .jiangjin .tian:hover {
background:url(/skin/images/tian1.png) no-repeat top center;
}

.content1 .jiangjin .qing {
display:inline-block;
width:110px;
height:40px;
background:url(/skin/images/qing.png) no-repeat top center;
cursor:pointer;
margin-right:10px;
}

.content1 .jiangjin .qing:hover {
background:url(/skin/images/qing1.png) no-repeat top center;
}

.content1 .jiangjin .prompt {
position:absolute;
top:-20px;
left:70px;
font-size:13px;
color:red;
}

.content1 .touzhu-cont {
width:950px;
height:110px;
background-color:#fff;
overflow-y:auto;
line-height:27px;
margin:0 25px;
}

.content1 .touzhu-cont tr:hover {
background-color:#dedede;
background:#CCC;
color:#222;
}

.content1 .touzhu-cont table {
width:100%;
color:#333;
}

.content1 .touzhu-cont td {
cursor:default;
padding:0 8px;
}

.content1 .touzhu-cont .del {
background:url(/skin/images/guan.jpg) no-repeat left top;
width:19px;
height:19px;
cursor:pointer;
}

.content1 .touzhu-bottom {
width:960px;
height:56px;
line-height:56px;
margin:5px 20px 0;
}

.content1 .touzhu-bottom .tz-tongji {
float:left;
display:inline;
margin-left:10px;
}

.content1 .touzhu-bottom .tz-tongji span {
color:red;
font-size:14px;
font-weight:700;
margin:0 5px;
}

.content1 .touzhu-bottom .zhui {
float:left;
height:56px;
width:130px;
cursor:pointer;
background:url(/skin/images/zhui.png) no-repeat bottom center;
text-indent:-9999px;
}

.content1 .touzhu-bottom .zhui:hover {
background:url(/skin/images/zhui1.png) no-repeat bottom center;
}

.content1 .touzhu-bottom .tou {
float:left;
height:56px;
width:130px;
cursor:pointer;
background:url(/skin/images/tou.png) no-repeat bottom center;
text-indent:-9999px;
}

.content1 .touzhu-bottom .tou:hover {
background:url(/skin/images/tou1.png) no-repeat bottom center;
}

.content2 .title,.wjcont .title {
height:44px;
background:url(/skin/images/title.png) no-repeat bottom center;
overflow:hidden;
margin:0 auto;
}

.content2 .body,.wjcont .body {
position:relative;
margin:0 auto;
}

/*.content2 .foot,.wjcont .foot {
width:1000px;
height:29px;
background:url(/skin/images/foot.png) no-repeat top center;
margin:0 auto;
}*/

.content2 {
width:1000px;
overflow:hidden;
text-align:center;
margin:0 auto;
}

.content2 .t1 {
width:60px;
color:#C00;
font-weight:700;
font-family:宋体,Arial;
}

.content2 .t1 a {
color:#C00;
font-weight:700;
}

.content2 .t5 {
width:130px;
}

.content2 .t6 {
width:170px;
}

.content2 .title {
font-weight:700;
color:#fff;
overflow:hidden;
}

.content2 .title ul {
padding:17px 10px 0 20px;
}

.content2 .shuju {
padding-top:10px;
}

.content2 .shuju ul {
float:left;
border-bottom:1px dashed #ddd;
margin:3px 20px;
}

.content3 {
width:100%;
overflow:hidden;
margin:0 auto;
}

.content3 p {
text-align:center;
padding:100px 0;
}

.content3 .title {
width:100%;
text-align:left;
line-height:52px;
}

.content3 .title span {
font-size:14px;
font-weight:700;
color:#fff;
padding-left:25px;
}

.content3 .content3l {
width:243px;
float:left;
overflow:auto;
border-right:1px solid #DDD;
}

.content3 .content3l ul {
min-height:620px;
padding:5px 5px;
}

.content3 .content3l ul li {
display:block;
line-height:28px;
}

.content3 .content3l ul li span {
color:#888;
padding-right:5px;
}

.content3 .content3l ul li a {
color:#000;
}

.content3 .content3l ul li a span {
color:#888;
}

.content3 .content3r {
width:655px;
float:left;
}

.content3 .content3r h2 {
font-size:18px;
color:#C00;
font-weight:400;
line-height:80px;
text-align:center;
}

.content3 .content3r p {
font-size:14px;
line-height:30px;
word-wrap:break-word;
word-break:normal;
padding:0 35px 0 25px;
}

.content3 .content3r p span {
float:right;
padding-right:15px;
}

.zhuce {
width:1000px;
height:480px;
padding-top:250px;
background:url(/skin/images/regbg.png) no-repeat top center transparent;
position:relative;
margin:0 auto;
}

.zhuce .wjlogo {
position:absolute;
top:82px;
left:192px;
}

.zhuce .zhucel {
width:300px;
float:left;
}

.zhuce .zhucel p {
line-height:30px;
font-size:13px;
padding:10px 20px 23px 80px;
}

.zhuce .zhucel b {
width:169px;
height:51px;
margin-left:95px;
text-align:center;
}

.zhuce .zhucel b a {
font-size:18px;
font-weight:400;
line-height:51px;
padding-left:25px;
color:#FFF;
display:inline-block;
width:144px;
height:51px;
background:url(/skin/images/xiazai.jpg) center center no-repeat;
}

.zhuce .zhucel b a:hover {
background:url(/skin/images/xiazaih.jpg) center center no-repeat;
text-decoration:none;
}

.zhuce .zhucer {
width:320px;
float:left;
}

.zhuce .zhucer ul {
padding:5px 20px;
}

.zhuce .zhucer ul li .text1 {
width:180px;
height:25px;
vertical-align:middle;
border-radius:5px;
}

.zhuce .zhucer ul li .text2 {
width:80px;
height:25px;
vertical-align:middle;
border-radius:5px;
}

.zhuce .zhucer b {
width:130px;
height:51px;
margin-left:90px;
text-align:center;
}

.denglu1 {
width:1000px;
height:480px;
padding-top:250px;
background:url(/skin/images/loginbg.png) no-repeat top center transparent;
position:relative;
margin:0 auto;
}

.denglu1 .wjlogo {
position:absolute;
top:82px;
left:205px;
}

.denglu1 ul {
padding:5px 20px 5px 190px;
}

.denglu1 ul li .text1 {
width:215px;
height:30px;
font-family:微软雅黑;
padding-left:25px;
vertical-align:middle;
border-radius:5px;
background:#FFF url(/skin/images/user.jpg) 2px center no-repeat;
}

.denglu1 ul li .text2 {
width:215px;
height:30px;
font-family:微软雅黑;
padding-left:25px;
vertical-align:middle;
border-radius:5px;
background:#FFF url(/skin/images/pass.jpg) 2px center no-repeat;
}

.denglu1 ul li .text3 {
width:140px;
height:30px;
font-family:微软雅黑;
vertical-align:middle;
border-radius:5px;
}

.denglu1 b {
width:130px;
height:51px;
margin-left:300px;
text-align:center;
}

.chongzhi1 ul {
border:1px solid #CCC;
border-top:3px solid red;
background-color:#f6f6f6;
padding:20px;
}

.chongzhi1 ul li a {
font-size:13px;
line-height:32px;
color:#FFF;
font-weight:400;
display:inline-block;
width:76px;
height:34px;
text-align:center;
background:url(/skin/images/fuzhi.jpg) no-repeat center center;
vertical-align:middle;
}

.chongzhi1 ul li a:hover {
background:url(/skin/images/fuzhi1.jpg) no-repeat center center;
text-decoration:none;
}

.chongzhi1 ul li strong a {
font-size:13px;
line-height:32px;
color:#FFF;
font-weight:400;
display:inline-block;
width:114px;
height:34px;
text-align:center;
background:url(/skin/images/yinhang.jpg) no-repeat center center;
vertical-align:middle;
}

.chongzhi1 ul li strong a:hover {
background:url(/skin/images/yinhang1.jpg) no-repeat center center;
text-decoration:none;
}

.chongzhi1 ul li .text4 {
width:200px;
height:22px;
vertical-align:middle;
}

.chongzhi2 {

border:1px solid #f6d75b;
background-color:#fffbe8;


}

.chongzhi2 h3 {
font-size:14px;
font-weight:700;

color:red;
}

.chongzhi2 ul li {
line-height:25px;
font-size:7px;
}

.chongzhi2 ul li span {
color:red;
font-weight:700;
padding:0 3px;
}

.chongzhi3 {
width:810px;
margin:0 5px;
}

.chongzhi3 ul {
border:1px solid #CCC;
border-top:3px solid red;
background-color:#f6f6f6;
margin-bottom:20px;
padding:20px;
}

.chongzhi3 ul li .text4 {
width:200px;
height:22px;
margin-right:5px;
vertical-align:middle;
border:1px solid #999;
}

.jiben1 ul li {
width:440px;
float:left;
line-height:28px;
font-size:13px;
color:red;
}

.jiben1 ul li .text4 {
width:200px;
height:22px;
vertical-align:middle;
margin:3px 5px;
}

.jiben1 ul li .text5 {
width:205px;
height:28px;
color:#666;
vertical-align:middle;
margin:1px 0;
}

.tips dt {
font-weight:700;
font-size:14px;
margin-bottom:5px;
color:red;
}

.tips dd {
line-height:22px;
}

.tips dd a {
color:#039;
}

.mima1 ul {
border:1px solid #CCC;
border-top:3px solid red;
background-color:#f6f6f6;
margin-bottom:20px;

}

.mima1 ul li .text4 {
width:200px;
height:22px;
margin-right:5px;
vertical-align:middle;
}

.mima1 ul .tijiao {
padding:10px 10px 0 193px;
}

.youxi1 h2 {
font-size:12px;
font-weight:700;
line-height:60px;
padding-top:10px;
vertical-align:middle;
}

.youxi1 h2 .text5 {
border:1px solid #999;
height:24px;
margin-right:5px;
font-size:12px;
font-family:微软雅黑;
}

.youxi1 h2 .text6 {
border:1px solid #999;
height:22px;
width:100px;
padding-left:5px;
font-size:12px;
font-family:微软雅黑;
color:#999;
}

.youxi1 h2 .text7 {
background:url(/skin/images/shijian.jpg) no-repeat right center;
border:1px solid #999;
width:120px;
height:22px;
font-size:12px;
font-family:微软雅黑;
margin:0 5px 0 3px;
padding:0 5px;
}

.youxi1 h2 .text8 {
border:1px solid #999;
width:60px;
height:22px;
padding-left:5px;
font-size:12px;
font-family:微软雅黑;
color:#999;
}

.youxi1 h2 .an,.bnt {
color:#FFF;
font-size:13px;
font-family:微软雅黑;
width:92px;
height:31px;
background:url(/skin/images/button.jpg) no-repeat center center;
border:0;
cursor:pointer;
vertical-align:middle;
}

.youxi1 .top {
background-color:#e8e8e8;
height:31px;
font-weight:700;
}

.youxi1 table {
border-left:1px solid #CCC;
background-color:#f6f6f6;
border-top:3px solid red;
}

.youxi1 table tr td {
height:31px;
border-right:1px solid #CCC;
border-bottom:1px solid #CCC;
line-height:31px;

}

.youxi1 .fanye {
text-align:center;
line-height:26px;
padding:50px 0 20px;
}

.youxi1 .fanye a {
font-size:13px;
display:inline-block;
width:50px;
line-height:26px;
background-color:#e6e6e6;
text-align:center;
margin:0 2px;
}

.youxi1 .fanye a:hover {
background-color:#ff6100;
text-decoration:none;
color:#FFF;
}

.youxi1 .fanye .shu {
font-size:13px;
display:inline-block;
width:26px;
line-height:26px;
background-color:#e6e6e6;
text-align:center;
}

.youxi1 .fanye .on {
font-size:13px;
display:inline-block;
width:26px;
line-height:26px;
background-color:#e2604a;
text-align:center;
color:#FFF;
}

.youxi1 .fanye span b {
color:#ff6100;
padding:0 3px;
}

.tuandui1 ul {
width:610px;
float:left;
border:1px solid #CCC;
border-top:3px solid red;
background-color:#f6f6f6;
margin-bottom:50px;
padding:20px 100px;
}

.tuandui1 ul li {
width:890px;
display:block;
line-height:28px;
font-size:13px;
color:red;
}

.footer {
width:100%;
height:58px;
overflow:hidden;
padding-bottom:15px;
background:url(/skin/images/footer.png) no-repeat top center;
margin:10px auto 0;
}

.footer p {
line-height:58px;
text-align:center;
}

#wanjinDialog {
padding-top:15px;
}

#wanjinDialog .ui-wjicon-confirm {
float:left;
width:50px;
height:50px;
background:url(/skin/images/ts.gif) no-repeat scroll 0 0;
margin:0 10px 20px 0;
}

#wanjinDialog .ui-wjicon-ok {
float:left;
width:50px;
height:50px;
background:url(/skin/images/ts.gif) no-repeat scroll -60px 0;
margin:0 10px 20px 0;
}

#wanjinDialog .ui-wjicon-alert {
float:left;
width:50px;
height:50px;
background:url(/skin/images/ts.gif) no-repeat scroll -120px 0;
margin:0 10px 20px 0;
}

#wanjinDialog .ui-wjicon-err {
float:left;
width:50px;
height:50px;
background:url(/skin/images/ts.gif) no-repeat scroll -180px 0;
margin:0 10px 20px 0;
}

#wanjinDialog .wjtips {
margin-top:10px;
float:left;
display:inline;
}

#wanjinDialog .wjtips span {
color:red;
font-weight:700;
font-size:12px;
}

#wanjinDialog table {
width:100%;
}

#wanjinDialog th {
font-weight:700;
padding-bottom:5px;
border-bottom:1px #CCC solid;
}

#wanjinDialog td {
text-align:center;
}

#wanjinDialog #all-count,#wanjinDialog #all-amount {
font-size:14px;
font-weight:700;
color:red;
}

.popupModal table {
border-collapse:collapse;
}

.popupModal table tr {
border-bottom:#CCC solid 1px;
}

.popupModal table tr.nobd {
border-bottom:none medium;
}

.popupModal table tr td.title {
text-align:center;
border-right:#fff solid 1px;
background:#cfcfcf;
}

.popupModal table tr td input {
background-color:#B7B7BB;
}

.popupModal table tr td .tzdata {
border:#CCC solid 1px;
margin-top:5px;
word-wrap:break-word;
word-break:break-all;
width:98%;
height:80px;
overflow:scroll;
padding:5px;
}

.popupModal table tr td .green {
color:#0C0;
}

.popupModal table tr td .gray {
color:#999;
}

.popupBox {
width:400px;
height:200px;
autoborder:none;
overflow-x:none;
overflow-y:none;
font-size:16px;
margin:0 auto;
}

.tr-top tr {
border:#CCC solid 1px;
background:#d9d9d9;
}

.tr-top tr td {
font-weight:700;
padding:5px 0;
}

.tr-cont tr {
border-bottom:#CCC solid 1px;
margin-top:10px;
}

.scorelist .swap {
width:680px;
height:147px;
margin:10px auto;
}

.scorelist .swap .sp-left {
background-color:#fff;
width:569px;
height:147px;
float:left;
}

.scorelist .swap .sp-left .goodsimg {
position:relative;
float:left;
height:147px;
width:390px;
}

.scorelist .swap .sp-left .goodsimg .zhezhao {
position:absolute;
width:569px;
height:147px;
}

.scorelist .swap .sp-left .goodsimg .sp-xian {
width:51px;
height:51px;
position:absolute;
top:-1px;
left:-1px;
}

.scorelist .swap .sp-left .goods-right {
width:176px;
height:147px;
float:left;
margin-left:1px;
background:#eaeaea;
}

.scorelist .swap .sp-left .goods-right .gs-intro {
width:176px;
height:60px;
margin-top:5px;
line-height:1.6em;
padding:0 3px;
}

.scorelist .swap .sp-left .goods-right .gs-title {
width:176px;
height:18px;
line-height:18px;
text-align:center;
color:#FFF;
background:#666;
filter:Alpha(Opacity=60,Style=0);
opacity:.6;
}

.scorelist .swap .sp-left .goods-right .gs-price {
width:176px;
height:50px;
text-align:center;
margin-top:5px;
}

.scorelist .swap .sp-left .goods-right .gs-price td {
border:none;
background:none;
}

.scorelist .swap .sp-right {
width:110px;
height:147px;
float:left;
background:#eaeaea;
}

.scorelist .swap .sp-right .sp-time {
width:72px;
margin:20px auto 0;
}

.scorelist .swap .sp-right .sp-join {
width:78px;
height:72px;
overflow:hidden;
text-align:center;
padding-top:1px;
margin:0 auto;
}

.scorelist .swap .sp-right .sp-join .number {
width:78px;
height:25px;
margin-top:15px;
font-size:16px;
font-weight:700;
}

.scorelist .swap .sp-right .sp-join-btn {
cursor:pointer;
display:block;
}

.scorelist .swap .sp-right .sp-join-btn:hover {
padding-top:0;
text-decoration:none;
}

.scorelist .swap .sp-right .sp-state {
width:73px;
text-align:center;
padding-left:5px;
display:block;
margin:6px auto 0;
}

.scorelist .txtcss1 {
text-align:center;
margin:30px auto;
}

.scorelist .page-1 {
float:right;
height:24px;
margin-top:20px;
margin-right:20px;
}

.msg_icon {
font-size:13px;
font-weight:700;
color:red;
margin:0 2px;
}

.boxdetail {
background:0 repeat scroll 0 0 #d7d2d2;
padding:5px;
}

.boxdetail .txt {
border:1px solid #CCC;
height:20px;
width:100px;
line-height:20px;
padding:2px 3px;
}

.boxdetail .txt2 {
border:1px solid #CCC;
height:150px;
width:750px;
overflow:scroll;
padding:2px 3px;
}

.biao-cont tr {
cursor:pointer;
}

.biao-cont tr:hover {
background-color:#FF9;
}

.biao-cont td,.biao-cont td {
text-align:left;
}

.biao-cont td.tl {
text-align:left;
padding-left:10px;
}

.writeinfo {
margin:20px 0 50px;
}

.writeinfo_l {
float:left;
display:inline;
width:550px;
}

.writeinfo_l .txt {
border:1px solid #CCC;
height:20px;
width:400px;
line-height:20px;
padding:2px 3px;
}

.writeinfo_l .txt2 {
border:1px solid #CCC;
height:100px;
width:400px;
overflow:scroll;
padding:2px 3px;
}

.writeinfo_l .answer {
margin-top:10px;
}

.writeinfo_l .answer a {
display:block;
background:0 repeat scroll 0 0 #d7d2d2;
padding:3px 5px;
}

.writeinfo2 {
margin:0 0 20px;
}

.writeinfo2_l {
float:left;
display:inline;
width:610px;
}

.writeinfo2_l .txt {
border:1px solid #CCC;
height:20px;
width:500px;
line-height:20px;
padding:2px 3px;
}

.writeinfo2_l .txt2 {
border:1px solid #CCC;
height:350px;
width:500px;
overflow:scroll;
padding:2px 3px;
}

.writeinfo2_r {
float:left;
display:inline;
width:170px;
border:1px solid #d0d0d0;
margin-top:10px;
}

.writeinfo2_r h4 {
background:0 repeat scroll 0 0 #d7d2d2;
border:1px solid #d0d0d0;
height:25px;
line-height:25px;
padding-left:10px;
}

.writeinfo2_r ul {
height:380px;
overflow:scroll;
padding:5px 10px;
}

.writeinfo2_r ul li {
height:25px;
line-height:25px;
}

.writeinfo2_r input {
margin-right:5px;
}

.ml20 {
margin-left:20px;
}

.service-tel {
color:#fff;
float:left;
padding:7px 0 0 10px;
}

.service-tel span {
background-image:url(/skin/images/flag.jpg);
background-repeat:no-repeat;
display:inline-block;
height:21px;
margin-right:10px;
vertical-align:middle;
width:32px;
}

.flag-img {
background-position:left top;
}

.flag-img-se {
background-position:left bottom;
margin-left:5px;
}

.clear,.writeinfo_l dl,.writeinfo2_l dl {
clear:both;
}

.red,#wanjinDialog em,.popupModal table tr td .red {
	font-size:xx-small;
color:red;
}

.hide,.content1 .jiangjin .min,.content1 .jiangjin .max,.scorelist .swap .sp-right .state-off,.scorelist .swap .sp-right .state-complete {
display:none;
}

.nav a,.content1 .title ul .on a,.content1 .fushi ul li.on a,.content1 .fushi ul li.on a:hover,.content2 .title ul .t1 {
color:#fff;
}

.nav .nlibg1.on,.nav .nlibg1:hover {
background:url(/skin/images/navh1.jpg) no-repeat top center;
}

.nav .nlibg2.on,.nav .nlibg2:hover {
background:url(/skin/images/navh2.jpg) no-repeat top center;
}

.nav .nlibg3.on,.nav .nlibg3:hover {
background:url(/skin/images/navh3.jpg) no-repeat top center;
}

.nav .nlibg4.on,.nav .nlibg4:hover {
background:url(/skin/images/navh4.jpg) no-repeat top center;
}

.nav .nlibg5.on,.nav .nlibg5:hover {
background:url(/skin/images/navh5.jpg) no-repeat top center;
}

.nav .nlibg6.on,.nav .nlibg6:hover {
background:url(/skin/images/navh6.jpg) no-repeat top center;
}

.nav .nlibg7.on,.nav .nlibg7:hover {
background:url(/skin/images/navh7.jpg) no-repeat top center;
}

.nav .sub a:hover,.content1 .jiangjin strong {
font-weight:400;
}

.content01 .qi span,.content02 p span,.content04 p span,.content05 p span,.content06 p span {
color:#fff11b;
font-weight:700;
padding:0 5px;
}

.content02,.content04,.content05,.content06 {
background:url(/skin/images/chongqing.png) no-repeat top center;
float:left;
height:151px;
width:427px;
}

.content03,.content07,.content08 {
background:url(/skin/images/qihao.png) no-repeat top center;
float:left;
height:151px;
width:311px;
}

.content03 .hao,.content07 .hao,.content08 .hao {
color:#fff;
font-size:14px;
height:25px;
text-align:center;
padding:12px 0 8px;
}

.content03 .hao b,.content07 .hao b,.content08 .hao b {
float:right;
font-weight:400;
padding-right:50px;
}

.content03 ul,.content07 ul,.content08 ul {
font-size:13px;
padding:0 20px;
}

.content03 ul li,.content07 ul li,.content08 ul li {
border-bottom:1px dashed #ccc;
padding:1px 0 1px 5px;
}

.content03 ul li span,.content07 ul li span,.content08 ul li span {
float:right;
padding-right:5px;
}

.content04 p,.content05 p,.content06 p {
color:#fff;
font-size:14px;
text-align:center;
padding:12px 0;
}

.content04 ul li,.content05 ul li {
float:left;
padding:5px 3px;
}

.content07 .hao span,.content08 .hao span {
float:left;
padding-left:20px;
}

.content07 ul li span b,.content08 ul li span b {
background:url(/skin/images/qihao1.png) no-repeat center;
color:#333;
height:20px;
padding:1px 2px;
}

.content1 div,.content2 div {
margin:0;
padding:0;
}

.content1 .fanli #box2,.content1 .fanli #box5 {
background:url(/skin/images/tan.png) no-repeat top center;
display:none;
font-size:12px;
height:66px;
line-height:28px;
margin-left:195px;
position:absolute;
width:250px;
padding:15px 0 10px 25px;
}

.content1 .num-table .pp #wei-shu,.youxi1 .fanye span,.writeinfo_l dl dd,.writeinfo2_l dl dd {
margin-left:10px;
}

.content1 .num-table .pp #wei-shu label,.content1 .num-table .dantuo label {
font-size:14px;
font-weight:700;
margin-right:5px;
}

.content1 .touzhu-bottom .tz-buytype,.content1 .touzhu-bottom .tz-true-btn {
float:right;
}

.content2 .t2,.content2 .t3,.content2 .t4 {
width:90px;
}

.content2 .t7,.content2 .t8,.content2 .t10 {
width:70px;
}

.content2 .t9,.content2 .t11 {
width:60px;
}

.content2 .title ul li,.content2 .shuju ul li {
float:left;
}

.zhuce .zhucer ul li,.denglu1 ul li {
line-height:42px;
text-align:left;
vertical-align:middle;
}

.zhuce .zhucer ul li span,.denglu1 ul li span {
display:inline-block;
font-size:14px;
text-align:right;
width:80px;
}

.zhuce .zhucer ul li img,.denglu1 ul li img {
border:1px solid #CCC;
margin-left:5px;
vertical-align:middle;
}

.zhuce .zhucer b a,.denglu1 b a {
background:url(/skin/images/zhuce.jpg) center center no-repeat;
color:#FFF;
display:inline-block;
font-size:18px;
font-weight:400;
height:51px;
line-height:51px;
width:144px;
}

.zhuce .zhucer b a:hover,.denglu1 b a:hover {
background:url(/skin/images/zhuceh.jpg) center center no-repeat;
text-decoration:none;
}

.chongzhi1,.jiben1,.mima1,.youxi1,.tuandui1 {
width:100%;
margin:0 auto;
}

.chongzhi1 h2,.chongzhi3 h2,.jiben1 h2,.mima1 h2,.tuandui1 h2 {
font-size:14px;
font-weight:700;
line-height:35px;
padding-top:10px;
}

.chongzhi1 ul li,.chongzhi3 ul li,.mima1 ul li {
color:red;
font-size:12px;
line-height:34px;
}

.chongzhi1 ul li span,.chongzhi3 ul li span,.mima1 ul li span {
color:#333;
display:inline-block;
font-size:14px;
text-align:right;

}

.chongzhi1 ul li b,.chongzhi3 ul li b,.mima1 ul li b {
color:red;
font-size:14px;
padding-right:10px;
}

.chongzhi3 ul li .xuan,.chongzhi3 ul li img,.mima1 ul li .xuan,.mima1 ul li img {
line-height:95px;
vertical-align:middle;
}

.chongzhi3 h3,.jiben1 h3 {
padding-bottom:20px;

width:910px;
}

.chongzhi3 h3 .an,.jiben1 h3 .an,.mima1 ul li .an {
background:url(/skin/images/button.jpg) no-repeat center center;
border:0;
color:#FFF;
cursor:pointer;
font-family:微软雅黑;
font-size:13px;
height:31px;
width:92px;
margin:0 5px;
}

.chongzhi3 h3 .an:hover,.jiben1 h3 .an:hover,.mima1 ul li .an:hover,.youxi1 h2 .an:hover,.bnt:hover {
background:url(/skin/images/button1.jpg) no-repeat center center;
text-decoration:none;
}

.jiben1 ul,.tips {
background-color:#f6f6f6;
border:1px solid #CCC;
border-top:3px solid red;
float:left;
margin-bottom:20px;
width:890px;
padding:20px;
}

.jiben1 ul li span,.tuandui1 ul li span {
color:#333;
display:inline-block;
font-size:13px;
text-align:left;

}

.jiben1 ul li b,.tuandui1 ul li b {
color:red;
font-size:13px;
padding-left:10px;
}

#wanjinDialog b,.popupModal table tr th,.popupModal table tr td em {
font-weight:700;
}

.popupModal table tr td,.tr-cont tr td,.boxdetail td {
padding:5px 0;
width: 25%;
}

.writeinfo_l dl dt,.writeinfo_l dl dd,.writeinfo2_l dl dt,.writeinfo2_l dl dd {
float:left;
margin-top:10px;
}

.writeinfo_l dl dt,.writeinfo2_l dl dt {
text-align:right;
width:80px;
}