.subNav {
cursor:pointer;
font-size:18px;
line-height:55px;
border-radius:3px;
background:#858585;
text-align:center;
color:#fff;
margin-bottom:4px;
}

.currentDt {
background-image:url(../images/jiantou.jpg);
}

.navContent {
display:none;
height:auto;
overflow:hidden;
}

.subNavBox {
border-top-right-radius:5px;
border-bottom-right-radius:5px;
background:#cecece;
padding:4px 5px 4px 7px;
}

.navContent li {
font-size:14px;
float:left;
width:50%;
text-align:center;
margin:10px auto;
}

.subNav:hover,.currentDd {
background:#cc4f39;
color:#fff;
}