.num-table .pp {
float:left;
display:inline;
color:#333;
overflow:hidden;
width:900px;
margin-top:10px;
}

.num-table .pp .title {
float:left;
display:inline;
width:46px;
height:28px;
line-height:28px;
background: url(/images/icon2.png) no-repeat scroll -101px -96px;
font-weight:400;
font-size:13px;
text-align:right;
text-align:center;
margin-top:3px;
}

.num-table .pp .code {
float:left;
display:inline;
margin-left:14px;
width:36px;
height:36px;
line-height:36px;
font-size:18px;
font-weight:700;
background: url(/images/icon2.png) no-repeat scroll -102px -168px;
text-align:center;
cursor:pointer;
border:none medium;
}

.num-table .pp .code:hover{
color:#fff;
background:url(/images/icon2.png) no-repeat scroll -102px -211px;
}

.num-table .pp .code.checked {
	background:url(/images/icon2.png) no-repeat scroll -102px -256px;
	color:#FFF;
	-webkit-animation: codea .29s .0s ease both;
	-moz-animation: codea .29s .0s ease both;
}

@-webkit-keyframes codea {
	0% {
		-webkit-transform: scale(1);
	}

	25% {
		-webkit-transform: scale(0.5);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes codea {
	0% {
		-moz-transform: scale(1);
	}

	25% {
		-moz-transform: scale(0.5);
	}

	100% {
		-moz-transform: scale(1);
	}
}

.num-table .pp .code.reset {
width:72px;
background:url(/skin/images/wei12.jpg) no-repeat center center;
}

.num-table .pp .code.reset:hover,.num-table .pp .code.reset.checked {
background:url(/skin/images/wei22.jpg) no-repeat center center;
}

.num-table .pp .action {
float:right;
display:inline;
margin-right:2px;
width:36px;
height:36px;
line-height:36px;
text-align:center;
font-size:15px;
background:#FFF;
cursor:pointer;
border:none medium;
border:1px solid #ddd;
border-radius: 5px;
}

.num-table .pp .action:hover,.num-table .pp .action.on {
color:#fff;
border-radius: 5px;
background:#E93A46;
}

.num-table .pp #textarea-code {
width:895px;
height:98px;
background-color:#fff;
border:1px solid #ddd;
}

.num-table .pp #wei-shu {
margin-left:10px;
}

.num-table .pp #wei-shu input {
margin-right:2px;
}

.num-table .dantuo {
width:950px;
margin:0 auto 10px;
}

.jiangjin {
color:#333;
width:100%;
height:40px;
line-height:40px;
position:relative;
margin:0;
}

.jiangjin .fl {
float:left;
display:inline;
}

.jiangjin .fr {
float:right;
display:inline;
}

.jiangjin .min,.jiangjin .max {
display:none;
}

.jiangjin strong {
font-weight:400;
}

.jiangjin .ui-slider-handle {
height:15px;
width:20px;
border:0;
margin-top:11px;
vertical-align:middle;
background:url(/skin/images/hua.jpg) left center no-repeat;
}

.jiangjin .tiao {
display:inline;
background:url(/skin/images/tiao1.jpg) no-repeat center center;
border:0;
margin:0 5px;
padding:5px 94px;
}

.jiangjin .fdmoney {
color:red;
margin-left:10px;
display:inline-block;
width:100px;
}

.jiangjin a img {
vertical-align:middle;
margin-top:-3px;
}

.jiangjin .mo {
padding-left:0;
}

.jiangjin b {
font-weight:400;
background:url(/skin/images/mo1.jpg) no-repeat center center;
cursor:pointer;
padding:8px 8px 8px 9px;
}

.jiangjin b:hover,.jiangjin b.dwon {
color:#fff;
background:url(/skin/images/mo2.jpg) no-repeat center center;
}

.jiangjin .bei {
padding-left:0;
margin-left:0;
}

.jiangjin .surbeishu,.jiangjin .addbeishu {
cursor:pointer;
vertical-align:middle;
margin-top:-3px;
}

.jiangjin .jian {
width:20px;
height:40px;
border:0;
background:url(/skin/images/jian.jpg) no-repeat 0 7px;
cursor:pointer;
vertical-align:middle;
}

.jiangjin .bei1 {
width:40px;
height:22px;
line-height:22px;
border:0;
text-align:center;
color:#fff;
background:gray;
vertical-align:middle;
margin:0 3px;
}

.jiangjin .jia {
width:20px;
height:40px;
border:0;
background:url(/skin/images/jia.jpg) no-repeat 0 7px;
cursor:pointer;
vertical-align:middle;
}

.jiangjin .ge {
padding-left:2px;
}

.jiangjin .tian {
display:inline-block;
width:110px;
height:40px;
background:url(/skin/images/tian.png) no-repeat top center;
cursor:pointer;
}

.jiangjin .tian:hover {
background:url(/skin/images/tian1.png) no-repeat top center;
}

.jiangjin .qing {
display:inline-block;
width:110px;
height:40px;
background:url(/skin/images/qing.png) no-repeat top center;
cursor:pointer;
margin-right:10px;
}

.jiangjin .qing:hover {
background:url(/skin/images/qing1.png) no-repeat top center;
}

.jiangjin .prompt {
position:absolute;
top:-20px;
left:70px;
font-size:13px;
color:red;
}

.touzhu-cont {
background-color:#fff;
overflow-y:auto;
line-height:27px;
border:1px solid #c1c1c1;
height:92px;
width:98%;
box-shadow:1px 0 5px rgba(0,0,0,.3) inset;
margin:0 auto;
}

.touzhu-cont tr:hover {
background-color:#dedede;
background:#CCC;
color:#222;
}

.touzhu-cont table {
width:100%;
color:#333;
}

.touzhu-cont td {
cursor:default;
padding:0 8px;
}

.touzhu-cont .del {
background:url(/skin/images/guan.jpg) no-repeat left top;
width:19px;
height:19px;
cursor:pointer;
}

.touzhu-bottom {
width:100%;
height:25px;
line-height:25px;
margin:5px 0 0;
}

.touzhu-bottom .tz-tongji {
float:left;
display:inline;
margin-left:0;
}

.touzhu-bottom .tz-tongji span {
color:red;
font-size:14px;
font-weight:700;
margin:0 5px;
}

.touzhu-bottom .zhui {
float:left;
height:56px;
width:130px;
cursor:pointer;
background:url(/skin/images/zhui.png) no-repeat bottom center;
text-indent:-9999px;
}

.touzhu-bottom .zhui:hover {
background:url(/skin/images/zhui1.png) no-repeat bottom center;
}

.touzhu-bottom .tou {
float:left;
height:56px;
width:130px;
cursor:pointer;
background:url(/skin/images/tou.png) no-repeat bottom center;
text-indent:-9999px;
}

.touzhu-bottom .tou:hover {
background:url(/skin/images/tou1.png) no-repeat bottom center;
}

.tian_def {
border-radius:20px;
background:#8e8c8c;
text-align:center;
color:#fff;
margin-right:7px;
cursor:pointer;
font-size:16px;
padding:3px 14px 3px 14px;
}

.tian_def:hover {
background:#cb3f26;
}

.num-table .pp #wei-shu label,.num-table .dantuo label {
font-size:14px;
font-weight:700;
margin-right:5px;
}

.touzhu-bottom .tz-buytype,.touzhu-bottom .tz-true-btn {
float:right;
}